<ion-header>
  <ion-toolbar>
    <ion-title class="title-tab">
      Livros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item color="primary">
    <ion-label text-wrap>
      <ion-text>
        <h3>Estes são os livros que você pode adquirir aqui no congresso, comprando nos stands das editoras.</h3>
      </ion-text>
    </ion-label>
  </ion-item>
  <br>
  <ion-list>
      <ion-item lines="full" class="info-green">
        <ion-label>Vitrine</ion-label>
        <ion-icon name="code" slot="end"></ion-icon>
      </ion-item>
      <div class="scrolling-wrapper">
        <ion-card class="welcome-card card conteudo-card" *ngFor="let livro of livros">
            <ion-img class="imagem-card" src="{{livro.imagem}}"></ion-img>
            <ion-card-content>
              <ion-card-subtitle class="sub"> {{livro.titulo}} </ion-card-subtitle>
            </ion-card-content>
        </ion-card>
      </div>
  </ion-list>
</ion-content>
