<ion-header>
  <ion-toolbar>
    <ion-title class="title-tab">
      E-books
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
    <ion-list>
        <ion-item lines="full" class="info-green">
          <ion-label>
            Livros
          </ion-label>
          <ion-icon name="code" slot="end"></ion-icon>
        </ion-item>
        <div class="scrolling-wrapper">
            <ion-card class="welcome-card card conteudo-card" *ngFor="let livro of livros">
                <ion-img class="imagem-card" src="{{livro.imagem}}"></ion-img>
                <ion-card-header text-wrap>
                  <ion-card-subtitle class="sub"> {{livro.titulo}} </ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </div>
    </ion-list>
</ion-content>
