<ion-header>
  <ion-toolbar>
      <ion-img src="/assets/image/icon.png" class="icon-header"></ion-img>
      <ion-title class="title-tab text-header">Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-list>
      <ion-item lines="full" class="info-purple">
        <ion-label>Livros</ion-label>
        <ion-icon name="code" slot="end"></ion-icon>
      </ion-item>
      <div class="scrolling-wrapper">
        <ion-card class="welcome-card card conteudo-card" *ngFor="let livro of livros" (click)="presentModal(livro)">
            <ion-img class="imagem-card" src="{{livro.imagem}}"></ion-img>
            <ion-card-content>
              <ion-card-subtitle class="sub"> {{livro.titulo}} </ion-card-subtitle>
            </ion-card-content>
        </ion-card>
      </div>
  </ion-list>
  <br>
  <ion-list>
      <ion-item lines="full" class="info-purple">
        <ion-label>Mais livros</ion-label>
        <ion-icon name="code" slot="end"></ion-icon>
      </ion-item>
      <div class="scrolling-wrapper">
        <ion-card class="welcome-card card conteudo-card" *ngFor="let livroc of livroscomplementares" (click)="presentModal(livroc)">
            <ion-img class="imagem-card" src="{{livroc.imagem}}"></ion-img>
            <ion-card-content>
              <ion-card-subtitle class="sub"> {{livroc.titulo}} </ion-card-subtitle>
            </ion-card-content>
        </ion-card>
      </div>
  </ion-list>
</ion-content>
