.title-tab {
    text-align: center;
    color: #339E2D;
}

.justificado {
    text-align: justify;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;


    .card {
        display: inline-block;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

ion-content {
    --ion-background-color: #81459D !important;
}

.info-green {
    color: #339E2D;
}

ion-card {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-margin-start: 7px;
    margin-inline-start: 7px;
    -webkit-margin-end: 7px;
    margin-inline-end: 7px;
}

.conteudo-card {
    padding: 8px;
}

.imagem-card {
    pointer-events: none;
    border-radius: 8px;
}

.sub {
    padding-top: 3px;
    text-transform: none;
    margin-bottom: 0px;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

ion-card-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

ion-list {
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 3%;
}

.info-black {
    color: black;
}

.tamanho-letra {
    font-size: 14px;
}