<ion-header>
  <ion-toolbar>
    <ion-title class="title-tab">
      Agora no congresso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Auditório Externo do Insitituto de Biologia -->
    <ion-card class="welcome-card">
      <ion-img src="/assets/instituto-biologia.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Local: Auditório Externo do Instituto de Biologia</ion-card-subtitle>
        <ion-card-subtitle>Hora: 09:00 - 12:30</ion-card-subtitle>
        <ion-card-title class="title-cards">Resistência nas águas: pescadoras e pescadores na defesa de seus territórios</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Participantes e Instituições</p>
        <ul>
          <li>Josana Pinto da Costa – Pará, Comunidade amador. Associação pescadores e pescadores artesanais. Coordenação Nacional do Movimento de Pescadores e Pescadoras Artesanais (MPP)</li>
          <li>Maria Alice Borges da silva - Lagoa do curralinho, juazeiro – Movimento de Pescadores e Pescadoras Artesanais BA (MPP)  </li>
          <li>João Barba – Reserva Extrativista Marinha Canavieiras - CONFREM</li>
          <li>Edson Falcão - Reserva Extrativista Marinha Baía do Iguape, Movimento de Pescadores e Pescadoras Artesanais (MPP)</li>
        </ul>
        <p>Moderadores</p>
        <ul>
          <li>Ivana Muricy</li>
          <li>Eliete Paraguaçu Conceição</li>
          <li>Andrea Rocha do Espirito Santo</li>
        </ul>
      </ion-card-content>
    </ion-card>
    <!-- Auditório A do IGEO -->
    <ion-card class="welcome-card">
      <ion-img src="/assets/instituto-biologia.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Local: Auditório A do IGEO | Instituto de Geociências</ion-card-subtitle>
        <ion-card-subtitle>Hora: 09:00 - 12:30</ion-card-subtitle>
        <ion-card-title class="title-cards">Mariana, Barcarena, Brumadinho: mineração e crimes ambientais</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Participantes e Instituições</p>
        <ul>
          <li>Carol Moura - Movimento Atingidos pela Vale, Brumadinho</li>
          <li>Charles Trocate - MAM</li>
          <li>Tádzio Coelho - UFMA e POeMAS</li>
          <li>Magno Luiz - CPT</li>
          <li>Milton Sanchez - Colectivo Guardianas y Guardianes de La Laguna, Peru</li>
        </ul>
        <p>Moderadores</p>
        <ul>
          <li>Camila Mudrek (MAM)</li>
          <li>Magno Oliveira (MAM)</li>
        </ul>
      </ion-card-content>
    </ion-card>
    <!-- Auditório B do IGEO -->
    <ion-card class="welcome-card">
      <ion-img src="/assets/instituto-biologia.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Auditório B do IGEO | Instituto de Geociências</ion-card-subtitle>
        <ion-card-subtitle>Hora: 09:00 - 12:30</ion-card-subtitle>
        <ion-card-title class="title-cards">A práxis está na mesa: a contribuição do veganismo para a sustentabilidade ambiental</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Participantes e Instituições</p>
        <ul>
          <li>Camilla Almeida - Sociedade Vegetariana Brasileira (SVB)</li>
          <li>Caroline Reis - nutrição UFBA</li>
          <li>Daiana - Rosas do Dendê e movimento Afrovegan</li>
          <li>João Pedro Carvalho - Biologia/UFBA</li>
          <li>Maria Bittencourt - gastronomia/UFBA</li>
          <li>Priscilla Karen - Oceanografia/UFBA</li>
        </ul>
        <p>Moderadores</p>
        <ul>
          <li>Luis Henrique Vieira de Souza (UFBA)</li>
        </ul>
      </ion-card-content>
    </ion-card>      
    <!-- Auditório Posgeo do IGEO  - Instituto de Geociências -->
    <ion-card class="welcome-card">
      <ion-img src="/assets/instituto-biologia.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Auditório Posgeo do IGEO  - Instituto de Geociências</ion-card-subtitle>
        <ion-card-subtitle>Hora: 09:00 - 12:30</ion-card-subtitle>
        <ion-card-title class="title-cards">Construindo propostas a partir das pedagogias que emergem dos conflitos ambientais, das lutas populares e dos movimentos sociais: perspectivas desde a Educação Ambiental e a Ecologia Política</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Participantes e Instituições</p>
        <ul>
          <li>Grupo de Estudos em Educação Ambiental Desde el Sur: Anne Kassiadou (UNIRIO), Celso Sánchez (UNIRIO) e Stephanie Di Chiara Salgado (UNIRIO)</li>
        </ul>
        <p>Moderadores</p>
        <ul>
          <li>Anne Kassiadou - UNIRIO</li>
        </ul>
      </ion-card-content>
    </ion-card>
    <!-- Auditório Yeda do IGEO  - Instituto de Geociências -->
    <ion-card class="welcome-card">
      <ion-img src="/assets/instituto-biologia.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Auditório Yeda do IGEO  - Instituto de Geociências</ion-card-subtitle>
        <ion-card-subtitle>Hora: 09:00 - 12:30</ion-card-subtitle>
        <ion-card-title class="title-cards">Autonomias e movimentos pela Terra</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Participantes e Instituições</p>
        <ul>
          <li>Jerry Matalawe</li>
          <li>Pet Comunidades Indígenas Ufba</li>
          <li>Jorge Nahuel (líder Mapuche)</li>
        </ul>
        <p>Moderadores</p>
        <ul>
          <li>Rutian Pataxó e Danilo Paiva Ramos (UFBA)</li>
        </ul>
      </ion-card-content>
    </ion-card>
    <!-- Salão Nobre da Reitoria da UFBA (Canela) -->
    <ion-card class="welcome-card">
      <ion-img src="/assets/instituto-biologia.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Salão Nobre da Reitoria da UFBA (Canela)</ion-card-subtitle>
        <ion-card-subtitle>Hora: 18:00 - 18:30</ion-card-subtitle>
        <ion-card-title class="title-cards">Mesa Redonda</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Participantes e Instituições</p>
        <ul>
          <li>Magnífico Reitor João Carlos Salles</li>
        </ul>
      </ion-card-content>
    </ion-card>
    <!-- Vão livre do IHAC - Instituto de Humanidades, Artes e Ciências -->
    <ion-card class="welcome-card">
      <ion-img src="/assets/vaolivre-ihac.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Vão livre do IHAC | Instituto de Humanidades, Artes e Ciências</ion-card-subtitle>
        <ion-card-subtitle>Hora: 18:00 - 18:30</ion-card-subtitle>
        <ion-card-title class="title-cards">Ativismo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Participantes e Instituições</p>
        <ul>
          <li>Marta Bezerra</li>
        </ul>
      </ion-card-content>
    </ion-card>
</ion-content>
