<ion-header>
  <ion-toolbar>
    <ion-title class="title-tab">
      Agora no congresso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Auditório Externo do Insitituto de Biologia -->
    <ion-card class="welcome-card">
      <ion-img src="/assets/image/instituto-biologia.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle class="info-black">Local: Auditório Externo do Instituto de Biologia </ion-card-subtitle>
        <ion-card-subtitle class="info-black">Hora: 09:00 - 12:30</ion-card-subtitle>
        <ion-card-title class="title-cards">Resistência nas águas: pescadoras e pescadores na defesa de seus territórios</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="info-black">Participantes e Instituições</p>
        <ul class="info-black">
          <li>Josana Pinto da Costa – Pará, Comunidade amador. Associação pescadores e pescadores artesanais. Coordenação Nacional do Movimento de Pescadores e Pescadoras Artesanais (MPP)</li>
          <li>Maria Alice Borges da silva - Lagoa do curralinho, juazeiro – Movimento de Pescadores e Pescadoras Artesanais BA (MPP)  </li>
          <li>João Barba – Reserva Extrativista Marinha Canavieiras - CONFREM</li>
          <li>Edson Falcão - Reserva Extrativista Marinha Baía do Iguape, Movimento de Pescadores e Pescadoras Artesanais (MPP)</li>
        </ul>
        <p class="info-black">Moderadores</p>
        <ul class="info-black">
          <li>Ivana Muricy</li>
          <li>Eliete Paraguaçu Conceição</li>
          <li>Andrea Rocha do Espirito Santo</li>
        </ul>
      </ion-card-content>
    </ion-card>
    
</ion-content>
