.map-container { 
    position: absolute; top: 0px; 
    bottom: 0px; 
    width: 100%; 
    height: 100%; 
}

.title-tab {
    text-align: center;
    color: #81459D;
}

.for-map {
    width: 100%; 
    height: 100%;
}

.icon-header {
    width: 30px;
    display:inline-block;
}

.text-header {
    display:inline-block;
}

ion-toolbar {
    text-align: center;
}