<ion-header>
  <ion-toolbar>
      <ion-title class="info-green"><ion-icon (click)="dismiss()" name="undo"></ion-icon> {{valor.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <ion-card class="welcome-card">
      <ion-img src="{{valor.imagem}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle class="info-black"><span class="destaque info-green">Título:</span> {{valor.titulo}} </ion-card-subtitle>
        <ion-card-subtitle class="info-black">{{valor.subtitulo}}</ion-card-subtitle>
        <ion-card-subtitle class="info-black"><span class="destaque info-green">Autores:</span> {{valor.autores}}</ion-card-subtitle>
        <ion-card-subtitle class="info-black"><span class="destaque info-green">Ano:</span> {{valor.ano}}</ion-card-subtitle>
        <ion-card-subtitle class="info-black"><span class="destaque info-green">Editora:</span> {{valor.editora}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-card-subtitle><span class="destaque info-green">Descrição:</span> </ion-card-subtitle>
          <ion-card-subtitle class="info-black text-center">{{valor.sinopse}}</ion-card-subtitle>
          <div *ngIf=" valor.site != ''">
              <ion-button expand="block">Acessar online</ion-button>
          </div>
      </ion-card-content>
    </ion-card>
 
</ion-content>
